body {
    background-color: rgb(43, 43, 43);
    color: rgb(211, 24, 24);
    }
    h1 {
    text-transform: uppercase;
    }
    li {
    color: rgb(20, 163, 220);
    font-style: calc(font-style);
    }